.root {
  .cat_image {
    width: 316px;
    height: 316px;
    margin-bottom: max(48px);
    transition: 0.75s;
    z-index: 1;
  }

  .favorite_heart{
    position: absolute;
    z-index: 2;
    margin-top: 270px;
    margin-left: 270px;
    opacity: 0;
  }

  &:hover {
    .cat_image {
      transform: scale(1.1);
      box-shadow: 0 5px 5px 2px #0000003D;
    }

    .favorite_heart {
      opacity: 1;

      &:hover {
        background: url("../../assets/images/hovered_heart.svg");
      }
    }
  }
  @media(max-width: 440px) {
    .cat_image {
      width: 250px;
      height: 250px;
    }
    .favorite_heart{
      margin-top: 205px;
      margin-left: 205px;
    }
  }
}
