.root {
  display: flex;
  background: #2196F3;
  padding-left: 62px;

  .header_link {
    border: 0;
    background: #2196F3;
    padding: 21px 26px 23px 23px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.25px;
    text-align: center;
    color: #FFFFFF;
  }
}

.focused {
  background: #1E88E5 !important;
}